{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
{% endblock %}
{% block title %}Dashboard{% endblock %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
<div class="container">
    

    <h1>Dashboard</h1>

    <div class="row">
        <div class="col-md-6">
            <a href="{{url_for('bet.create_game')}}" class="btn btn-custom btn-block">Create a game</a>
        </div>
        <div class="col-md-6">
            <a href="{{url_for('bet.join_game')}}" class="btn btn-custom btn-block">Join a game</a>
        </div>
    </div>
</div>
<div class="container">
    <h2>Created Games</h2>
    <div class="game-list">
        <div class="game-header">
            <div class="game-name">Game name</div>
            <div class="game-code">Game code</div>
            <div class="game-code">Delete</div>
        </div>
        {% for game in created_games %}
        <div class="game-item">
            <div class="game-name"><a href="{{ url_for('bet.game_details', game_key=game.game_key) }}" >{{ game.name }}</a></div>
            <div class="game-code">{{ game.game_key }}</div>
            <div class="game-code"><a href="{{ url_for('bet.delete_game', game_id=game.id) }}">Delete</a></div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container mg">
    <h2>Joined Games</h2>
    <div class="game-list">
        <div class="game-header">
            <div class="game-name">Game name</div>
            <div class="game-code">Game code</div>
        </div>
        {% for game in joined_games %}
        <a href="{{ url_for('bet.game_details', game_key=game.game_key) }}" class="game-item">
            <div class="game-name">{{ game.name }}</div>
            <div class="game-code">{{ game.game_key }}</div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}