{% extends "base.html" %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
{% endblock%}

{% block title %}Dashboard{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    
    


    <div class="container profile-container">
        <div class="row">
            <div class="col-12">
                <div class="box">
                    <h1>{{ user.username }}'s Profile</h1>
                </div>
            </div>
        </div>
        
        {% if user.id == current_user.id %}
        <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <h2>Email</h2>
                </div>
            </div>
            <div class="col-md-8">
                <div class="box">
                    <h2>{{ user.email }}</h2>
                </div>
            </div>
        </div>
        {% endif %}
        
        {% if created_games %}
        <div class="game-header">Created Games</div>
        {% for game in created_games %}
        <div class="game-item">
            <p>{{ game.name }}</p>
        </div>
        {% endfor %}
        {% endif %}

        {% if joined_games %}
        <div class="game-header">Joined Games</div>
        {% for game in joined_games %}
        <div class="game-item">
            <p>{{ game.name }}</p>
        </div>
        {% endfor %}
        {% endif %}
    </div>

{% endblock %}
