{% extends "base.html" %}
{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">{% endblock %}
{% block title %}Register{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
        <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    

    <div class="container">

                <div class="login-container">
                    <h1>Register</h1>
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        
                        {{ form.username(class="form-control", placeholder="Username", required=True) }}
            
                        
                        {{ form.email(class="form-control", placeholder="Email", required=True) }}
            
                        
                        {{ form.password(class="form-control", placeholder="Password", required=True) }}
            
                        {{ form.submit(class="btn btn-primary btn-block") }}
                    </form>
                    <a href="{{ url_for('login') }}" class="btn-register">Login</a>
                </div>

    </div>

    

    
{% endblock %}